/* header.module.css */

.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  padding: 10px; 
  z-index: 1000; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex; 
  justify-content: space-between; 
  align-items: center; /* Center vertically within the header */
}

.logo-container, .title-container, .logout-container {
  display: flex; 
  align-items: center; /* Center vertically within their containers */
}

.logo-container, .title-container {
  flex: 1; /* Distribute remaining space evenly among logo and title */
}

.logout-container {
  margin-right: 30px; /* Adjust the margin as needed */
}
.logo-container {
  margin-left: 10px; /* Adjust the margin as needed */
}
