.sidebar {
  background-color: #fbfcfc;
  width: 400px;
  transition: width 0.3s ease;
  grid-area: side-nav / side-nav / side-nav / side-nav;
  overflow-y: visible;
  list-style: none;
  padding-left: 24px;
  position: fixed;
  top: calc(5vh) ; 
  bottom: 0; 
  left: 0;
}

.sidebar.open {
  left: 0;
  align-items: center;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-color: #f1f2f6;
  cursor: pointer;
  border-right: 1px solid #dfe4ea;
}

.profileImage {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin: 30px 0px 1px; 
  display: block;
}

.profileItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}

.profileDetails {
  display: flex;
  /* overflow-y: auto; */
  /* max-height: 600px; */
  flex-direction: column;
}

.line {
  margin-bottom: 10px; /* Adjust the bottom margin for space between lines */
  font-size: 1.5rem;
}

.submit {
  margin-bottom: 100px;
}



