/* styles/tabsComponent.module.css */
.tabs {   
  text-align: center;
    margin: 20px; /* Adjust the top margin as needed */
  }
  
  .tabRow {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    user-select: none;
    font-size: 22px; /* Default font size */
    margin: 30px; /* Default margin */
  }
  
  .tab.active {
    background-color: #00ff22;
    color: #fff;
  }
  
  .textContainer {
    text-align: center;
    font-size: 50px; /* Default font size */
    margin: 10px; /* Default margin */
  }
  