.button{
margin-right: 20px;
}

.modal {
    z-index: 1000;
    transform: translateZ(0);
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    max-height: 90vh;
    height: 500px; /* Set a fixed height */
    min-height: 500px; /* Prevent shrinking */
  }
  
  .modalH3 {
    margin-top: 20px;
    text-align: left;
  }
  
  .modalImage {
    width: 100%;
    height: auto;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  @media (max-width: 708px) {
    .modal {
      width: 100%;
      margin: 0;
      padding: 0px;
    }
  
    .modalContent {
      height: 500px; /* Adjust for smaller screens */
      min-height: 400px;
    }
  
    .modalImage {
      width: 100%;
      max-width: unset;
    }
  }
  